html,body{
    color: #777777;
    background-image: url("../images/dust_scratches.png");
    height: 100%;
}
.wrapper{
    min-height: 100%;
    overflow: auto;
    position: relative;
}
.header{
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid #cccccc 1px;
}
.header:after{
    content: "";
    clear: both;
    display: table;
}
.container{
    width: 960px;
    margin: auto;
    padding-bottom: 40px;
}
#logo{
    padding: 25px;
    float: left;
    background-color: #4aaaa5;
    color: white;
    font-size: 200%;
    font-weight: bold;
}
.nav{
    float:right;
    padding: 20px;
}
.nav ul{
    float: right;
}
.nav ul li{
    float: left;
    padding: 10px;
}

.nav ul li a{
    text-decoration: none;
    color: #777777;
}
.content{
    background-color: #ffffff;
    border:solid #e2e2e2 1px;
    clear: left;
    margin-top: 20px;
    padding: 30px;
}
.title{
    color: #4aaaa5;
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 25px;
    border-bottom: solid #cccccc 1.5px;
    margin-bottom: 20px;
}
.secondTitle{
    color: #4aaaa5;
    font-size: 120%;
    font-weight: bold;
    margin: 20px 0px;
}
.contbody .secondTitle{
    margin: 10px 0px;
}
.contbody a {
    text-decoration: none;
}
.contbody::after{
    content: "";
    clear: both;
    display: table;
}
.contbody figure{
    float: left;
    margin-right: 10px;
}
.ftext{
    width: 100%;
    margin-bottom: 10px;
    height: 25px;
}
textarea.ftext{
    height: 150px;
}
.btnsubmit{
    border: 0px;
    padding: 10px 25px;
    background-color: #4aaaa5;
    color: white;
}
.portfolio{
    width: 500px;
    max-width: 30%;
    height: 200px;
    margin-left: 2%;
    margin-bottom: 30px;
    position: relative;
}
.portfolio img{
    height: 100%;
    width: 100%;
}
.ptitle{
    position: absolute;
    bottom: 0;
    background-color: #4aaaa5;
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    padding: 15px 0px;
}
body footer{
    background-color:#666666;
    color: #D2D2D2;
    bottom: 0px;
    width:100%;
    border-top: solid #4aaaa5 8px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
}
.icons{
    max-height: 4em;
    margin-right: 1em;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-48 { font-size: 48px; }

@media only screen and (max-width: 980px) {

    .container{
        width: 768px;
        margin-left: 10px;
    }
    .hcontainer{
        width: 100%;
    }
    .portfolio{
        max-width: 45%;
    }
    
}
@media only screen and (max-width: 768px) {

    .container{
        width: 98%;
        margin: 0 auto;
    }
    
}
@media only screen and (max-width: 640px) {
   .hcontainer{
       width: 100%;
       padding-bottom: 0;
   }
    #logo{
        float: none;
        text-align: center;
    }
    .nav{
        float: none;
        margin: 0 auto;
        padding: 10px;
    }
    .nav ul{
        float: none;
        text-align: center;
    }
    .nav ul li{
        float: none;
        display: inline;
    }
    .contbody .profpic{
        float: none;
    }
    .contbody .profpic img{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .portfolio{
        max-width: 100%;
        height: 300px;
    }
}